<div class="card">
    <div class="card__top">
        <img src="../assets/images/man.png" alt="" class="card__img">
    </div>
    <div class="card__bottom">
        <div class="card__left">
            <p class="card__subtitle">Gloop Series</p>
            <p class="card__name">Purple Man</p>
            <p class="card__id">#12983</p>
        </div>
        <div class="card__right">
            <p class="card__bid tright">top bid</p>
            <div class="card__price">
                <img src="../assets/images/eth.png" alt="" class="card__eth">
                <p class="card__name tright">2.99 ETH</p>
            </div>
            <p class="card__id tright">1 day left</p>
        </div>
    </div>
</div>