<div class="card-mini deeg">
    <div class="card__top">
        <img src="../assets/images/man.png" alt="" class="card__img-mini">
    </div>
    <div class="card__bottom-mini">
        <div class="card__left">
            <p class="card__subtitle-mini">Gloop Series</p>
            <p class="card__name-mini">Purple Man</p>
            <p class="card__id-mini">#12983</p>
        </div>
        <div class="card__right">
            <p class="card__bid-mini tright">top bid</p>
            <div class="card__price">
                <img src="../assets/images/eth.png" alt="" class="card__eth">
                <p class="card__name-mini tright">2.99 ETH</p>
            </div>
            <p class="card__id-mini tright">1 day left</p>
        </div>
    </div>
</div>
<div class="card-mini deg">
    <div class="card__top">
        <img src="../assets/images/nftgirl.png" alt="" class="card__img-mini">
    </div>
    <div class="card__bottom-mini">
        <div class="card__left">
            <p class="card__subtitle-mini">Gloop Series</p>
            <p class="card__name-mini--white">Purple Man</p>
            <p class="card__id-mini">#12983</p>
        </div>
        <div class="card__right">
            <p class="card__bid-mini tright">top bid</p>
            <div class="card__price">
                <img src="../assets/images/eth.png" alt="" class="card__eth">
                <p class="card__name-mini--white tright">2.99 ETH</p>
            </div>
            <p class="card__id-mini tright">1 day left</p>
        </div>
    </div>
</div>