<footer class="footer">
    <div class="footer__container container">
        <div class="footer__left">
            <div class="logo">
                <img src="../assets/images/logo.svg" alt="" class="logo__img">
                <h1 class="logo__title">nftlanding</h1>
            </div>
            <div class="footer__exclusive">
                <p class="footer__text">Exclusive NFT Collection</p>
            </div>
            <div class="footer__social">
                <a href="#" class="footer__social-link"><img src="../assets/images/facebook.png" alt="" class="footer__social-img"></a>
                <a href="#" class="footer__social-link"><img src="../assets/images/facebook.png" alt="" class="footer__social-img"></a>
                <a href="#" class="footer__social-link"><img src="../assets/images/facebook.png" alt="" class="footer__social-img"></a>
                <a href="#" class="footer__social-link"><img src="../assets/images/facebook.png" alt="" class="footer__social-img"></a>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__column">
                <p class="footer__name">About</p>
                <div class="footer__list">
                    <a href="#" class="footer__link">About</a>
                    <a href="#" class="footer__link">Terms</a>
                    <a href="#" class="footer__link">Legal</a>
                </div>
            </div>
            <div class="footer__column">
                <p class="footer__name">NFT</p>
                <div class="footer__list">
                    <a href="#" class="footer__link">OpenSea</a>
                    <a href="#" class="footer__link">Maker</a>
                    <a href="#" class="footer__link">Learn</a>
                </div>
            </div>
            <div class="footer__column">
                <p class="footer__name">Contact</p>
                <div class="footer__list">
                    <a href="#" class="footer__link">Press</a>
                    <a href="#" class="footer__link">Support</a>
                </div>
            </div>
            <div class="footer__column">
                <p class="footer__name">Social</p>
                <div class="footer__list">
                    <a href="#" class="footer__link">Twitter</a>
                    <a href="#" class="footer__link">Instagram</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__low">
        <p class="low__textcopy">© Copyright 2022 NFTlanding</p>
    </div>
</footer>
