<section class="footerupsell">
    <div class="footerupsell__container container">
        <div class="footerupsell__text">
            <p class="hero__subtitle">launching soon</p>
            <h1 class="footerupsell__title">An NFT like no other</h1>
            <p class="hero__text">Don’t miss out on the release of our new NFT. Sign up below to receive updates when we
                go
                live.</p>
            <a href="#" class="btn btn-gradient">Sign Up</a>
        </div>
    </div>
</section>