<header class="header">
    <section class="header_container container">
        <div class="logo">
            <img src="../assets/images/logo.svg" alt="" class="logo__img">
            <h1 class="logo__title">nftlanding</h1>
        </div>
        <nav class="nav">
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li class="nav_element">
                    <a href="#" class="nav_link">Features</a>
                </li>
                <li class="nav_element">
                    <a href="#" class="nav_link">About</a>
                </li>
                <li class="nav_element">
                    <a href="#" class="nav_link">Launch</a>
                </li>
                <li class="nav_element">
                    <a href="#" class="nav_link">Sign Up</a>
                </li>
            </ul>
        </nav>
    </section>

</header>