<section class="nftinfo">
    <div class="nftinfo__container container">
        <div class="nftinfo__card">
            <div class="nftinfo__card--container">
                <img src="../assets/images/nftinfoico.png" alt="" class="nftinfo__img">
                <h2 class="nftinfo__title">An NFT like no other</h2>
                <p class="nftinfo__text">Don’t miss out on the release of our new NFT. Sign up below to receive updates
                    when we go live on 18/9.</p>
                <p class="nftinfo__text">Don’t miss out on the release of our new NFT. Sign up below to receive updates
                    when we go live on 18/9.Don’t miss out on the release of our new NFT.</p>
            </div>
        </div>
        <div class="nftinfo__card">
            <div class="nftinfo__card--container">
                <img src="../assets/images/nftinfoicotwo.png" alt="" class="nftinfo__img">
                <h2 class="nftinfo__title">An NFT like no other</h2>
                <p class="nftinfo__text">Don’t miss out on the release of our new NFT. Sign up below to receive updates
                    when we go live on 18/9.</p>
                <p class="nftinfo__text">Don’t miss out on the release of our new NFT. Sign up below to receive updates
                    when we go live on 18/9.Don’t miss out on the release of our new NFT.</p>
            </div>
        </div>
    </div>
</section>