<section class="press">
    <div class="press__container container">
        <div class="press__element">
            <img src="../assets/images/boomerang.svg" alt="" class="press__img">
            <p class="press__name">Boomerang</p>
        </div>
        <div class="press__element">
            <img src="../assets/images/blimp.png" alt="" class="press__img">
            <p class="press__name">Blimp</p>
        </div>
        <div class="press__element">
            <img src="../assets/images/qr.png" alt="" class="press__img">
            <p class="press__name">qrco</p>
        </div>
        <div class="press__element">
            <img src="../assets/images/od.png" alt="" class="press__img">
            <p class="press__name">OpenDoor</p>
        </div>
        <div class="press__element">
            <img src="../assets/images/droplet.png" alt="" class="press__img">
            <p class="press__name">Droplet</p>
        </div>
    </div>
</section>