<section class="release container">
    <div class="release__container ">
        <div class="release__content">
            <div class="release__left">
                <h2 class="release__title">Initial Release 4/11</h2>
                <p class="release__text">We have released four limited edition NFTs early which can be bid on via OpenSea. </p>
                <p class="release__text">These will be the only four of these NFTs we ever make, so be sure not to miss out! </p>
                <p class="release__text">50% of proceeds go to charity.</p>
                <a href="#" class="release__link">Check them out</a>
            </div>
            <div class="release__right">
                <div class="release__info">
                    <p class="release__sub">Gloop Series</p>
                    <p class="release__name">Red Man</p>
                    <p class="release__count">#12983</p>
                </div>
            </div>
        </div>
    </div>
</section>